Workflows/IT & Data Management/Generate_Mermaid.json
{
  "name": "Generate Mermaid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "53c06100-1920-47d9-aadc-52b49795f83c",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent Mermaid.js code writer.",
              "role": "system"
            },
            {
              "content": "=Your task is to take as input an Upwork job description and return as output a Mermaid diagram that I can visualize using a subsequent Mermaid.js tool.\n\nOutput your results in plaintext using Mermaid code formatting. Don't output anything but the Mermaid diagram code.\n\nHere's an example of what your output should look like:\n\ngraph TD;\n    A-->B;\n    A-->C;\n    B-->D;\n    C-->D;\n\nRules:\n- You only output flowcharts. Nothing else. No sequence diagrams, no Gantt charts—only flowcharts.\n- Do not output any accessory formatting information, like ```mermaid.\n- Your first character should be g."
            },
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        200,
        0
      ],
      "id": "3986f7e2-e6b2-48cc-8006-e6532d872d0b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oiwqLZWurV1zwtun",
          "name": "Open AI "
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d47590b5-3683-4afe-bc27-a25fb94a32d5",
              "name": "mermaidCode",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "d3e9bdb0-31d7-4133-8c12-5f15fc048152",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb6b40a0-41bf-4e5e-8873-f8c5d8596b51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7bbd4b4ac06f2d0f0debbe3486b296539f6782c514247703f3b07bc2d93aef2"
  },
  "id": "vEEbs5l3TK9qk5uj",
  "tags": [
    {
      "createdAt": "2024-10-07T13:31:01.670Z",
      "updatedAt": "2024-10-07T13:31:01.670Z",
      "id": "sHHhxadxLJCvNMd2",
      "name": "Flow"
    }
  ]
}